.nav{
    display:flex;
    background-color: rgb(247, 161, 12);
    padding: 10px 10px;
    /* align-items: center; */
}

.nav .home {
  display: flex;
  text-align: left;
   padding-right: 20px;
   text-shadow:rgb(36, 200, 39);
}     
.nav .addproduct{
    text-align: left;
    padding-left: 20px;
  }   
  .nav .rightnav {
    padding-left: 75%;
  }   